#cart-icon{
    display: inline-block;
    width: 30px;
}

#cart-total{
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    background-color: red;
    width: 20px;
    height: max-content;
}

.product-navbar{
    background-color: #323333!important;
}
.navbar-nav>li>a{
    color: white;
}

.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
}
.product{
    border-radius: 0 0 4px 4px;
    margin: 3px;
}
