{% extends 'main/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container container-fluid mt-3">
        {{ user.username }}
        <div class="row">
            <div class="col-lg-4 col-md-4">

            </div>
            <div class="col-lg-4 col-md-4">
                <img src="{{ user.customer_profile.customer_profile_picture.url }}" alt="{{ user.customer_profile}}" class="rounded-circle img-thumbnail" style="height: 200px;">
            </div>
            <div class="col-lg-4 col-md-4">
cdvfd
            </div>
        </div>
    </div>
{% endblock %}