{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">

<nav class="product-navbar navbar navbar-expand-lg mt-2">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Current Stocklist<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Equipment Range</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rentals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Spare Parts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Sales</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Partners</a>
          </li>
        </ul>
        <ul class="ml-auto my-2 my-lg-0 list-unstyled">
          <!-- <a href="#" class="btn">Login</a> -->
          <li class="nav-item">
            <a href="{% url 'Cart' %}">
              <img src="{% static 'assets/cart.png' %}" alt="cart-icon" id="cart-icon">
            </a>
            <p id="cart-total">0</p>
          </li>
        </ul>
      </div>
</nav>