<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Current Stocklist<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Equipment Range</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rentals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Spare Parts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Sales</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Partners</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
</nav>